In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    ' Name ': [' Alice  ', 'BOB', '  charlie', None, 'dave'],
    'AGE': [' 25', 'thirty', '40 ', '  19', np.nan],
    ' Salary': [' 50000.50', '60,000', ' 70000 ', 'N/A', '80000'],
    'Join Date': ['2020-01-01', '02/03/2019', 'March 5, 2018', '2017.07.12', 'NULL'],
    ' Active ': ['Yes', 'no', 'YES ', ' nO', 'y'],
}

df = pd.DataFrame(data)

In [ ]:
print("Data Berantakan:")
print(df)

In [ ]:
# Langkah 1: Hapus spasi dari nama kolom
df.columns = df.columns.str.strip()

In [ ]:
# Langkah 2: Bersihkan kolom teks (hapus spasi berlebihan, ubah ke format yang seragam)
df['Name'] = df['Name'].str.strip().str.title()  # Title Case

In [ ]:
# Langkah 3: Bersihkan kolom angka (konversi ke numerik)
df['AGE'] = pd.to_numeric(df['AGE'], errors='coerce')  # 'thirty' akan menjadi NaN
df['Salary'] = df['Salary'].str.replace(',', '').str.strip()  # Hilangkan koma
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')  # Konversi ke float

In [ ]:
# Langkah 4: Bersihkan format tanggal
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')  # Format otomatis dikenali

In [ ]:
# Langkah 5: Normalisasi nilai boolean (Active jadi True/False)
df['Active'] = df['Active'].str.strip().str.lower().map({'yes': True, 'y': True, 'no': False, 'n': False})

In [ ]:
# Langkah 6: Hapus duplikat jika ada
df = df.drop_duplicates()

In [ ]:
# Langkah 7: Isi atau hapus nilai NaN jika diperlukan
df = df.fillna({'AGE': df['AGE'].median(), 'Salary': df['Salary'].mean()})  # Isi dengan median atau mean
df = df.dropna(subset=['Name'])  # Hapus jika kolom Name kosong

In [ ]:
print("\nData Bersih:")
print(df)