In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =  pd.read_excel(r"C:\Users\Robyi\Documents\Latihan Minitab\salesdatavisualize.xlsx")

In [4]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529

In [6]:
df.tail()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
112031,2016-07-31,31,July,2016,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484
112032,2016-07-31,31,July,2016,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377
112033,2016-07-31,31,July,2016,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144
112034,2016-07-31,31,July,2016,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64
112035,2016-07-31,31,July,2016,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35

In [7]:
df["State"]

0                  Yveline
1                 Victoria
2         British Columbia
3               Washington
4               California
                ...
112031             England
112032          California
112033     New South Wales
112034          Queensland
112035     New South Wales
Name: State, Length: 112036, dtype: object

In [9]:
df.State

0                  Yveline
1                 Victoria
2         British Columbia
3               Washington
4               California
                ...
112031             England
112032          California
112033     New South Wales
112034          Queensland
112035     New South Wales
Name: State, Length: 112036, dtype: object

In [10]:
df.loc[1]

Date                   2011-01-01 00:00:00
Day                                      1
Month                              January
Year                                  2011
Customer_Age                            23
Age_Group                      Youth (<25)
Customer_Gender                          M
Country                          Australia
State                             Victoria
Product_Category                     Bikes
Sub_Category                Mountain Bikes
Product             Mountain-200 Black, 46
Order_Quantity                           1
Unit_Cost                             1252
Unit_Price                            2295
Profit                                 561
Cost                                  1252
Revenue                               1813
Name: 1, dtype: object

In [11]:
df.loc[0]

Date                 2011-01-01 00:00:00
Day                                    1
Month                            January
Year                                2011
Customer_Age                          33
Age_Group           Young Adults (25-34)
Customer_Gender                        F
Country                           France
State                            Yveline
Product_Category                   Bikes
Sub_Category                  Road Bikes
Product                 Road-150 Red, 48
Order_Quantity                         2
Unit_Cost                           2171
Unit_Price                          3578
Profit                              1097
Cost                                4342
Revenue                             5439
Name: 0, dtype: object

In [15]:
df.iloc[3:9]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
5,2011-01-02,2,January,2011,41,Adults (35-64),F,Australia,Queensland,Bikes,Road Bikes,"Road-250 Red, 58",3,1555,2443,1491,4665,6156
6,2011-01-02,2,January,2011,40,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 40",4,713,1120,687,2852,3539
7,2011-01-02,2,January,2011,35,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,385,713,1098
8,2011-01-02,2,January,2011,32,Young Adults (25-34),M,United Kingdom,England,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,362,713,1075

In [14]:
df.iloc[1:6]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
5,2011-01-02,2,January,2011,41,Adults (35-64),F,Australia,Queensland,Bikes,Road Bikes,"Road-250 Red, 58",3,1555,2443,1491,4665,6156

In [16]:
df['Year'] == 2012

0         False
1         False
2         False
3         False
4         False
          ...
112031    False
112032    False
112033    False
112034    False
112035    False
Name: Year, Length: 112036, dtype: bool

In [17]:
df['Sub_Category'] == 'Mountain Bikes'

0         False
1          True
2         False
3         False
4         False
          ...
112031    False
112032    False
112033    False
112034    False
112035    False
Name: Sub_Category, Length: 112036, dtype: bool

In [19]:
df['Australia'] = df['Country'] == 'Australia'
df['Australia'].head()

0    False
1     True
2    False
3    False
4    False
Name: Australia, dtype: bool

In [20]:
del df['Day']

In [21]:
df.head(2)

,Date,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
0,2011-01-01,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
1,2011-01-01,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,True

In [25]:
del df['Month']

In [26]:
del df['Year']

In [27]:
df.head(2)

,Date,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
0,2011-01-01,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
1,2011-01-01,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,True

In [28]:
df1 = df.to_numpy()

In [30]:
df1

array([[Timestamp('2011-01-01 00:00:00'), 33, 'Young Adults (25-34)',
        ..., 4342, 5439, False],
       [Timestamp('2011-01-01 00:00:00'), 23, 'Youth (<25)', ..., 1252,
        1813, True],
       [Timestamp('2011-01-01 00:00:00'), 17, 'Youth (<25)', ..., 1519,
        2419, False],
       ...,
       [Timestamp('2016-07-31 00:00:00'), 21, 'Youth (<25)', ..., 63,
        144, True],
       [Timestamp('2016-07-31 00:00:00'), 31, 'Young Adults (25-34)',
        ..., 19, 64, True],
       [Timestamp('2016-07-31 00:00:00'), 34, 'Young Adults (25-34)',
        ..., 16, 35, True]], dtype=object)

In [34]:
df.columns

Index(['Date', 'Customer_Age', 'Age_Group', 'Customer_Gender', 'Country',
       'State', 'Product_Category', 'Sub_Category', 'Product',
       'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit', 'Cost',
       'Revenue', 'Australia'],
      dtype='object')

In [42]:
df.index.name = 'ID'

In [35]:
'Date' in df.columns

True

In [36]:
'Day' in df.columns

False

In [37]:
100 in df.index

True

In [38]:
2000000 in df.index

False

In [43]:
df.loc[[1, 10, 100], ['State','Profit']]

                 State  Profit
ID
1             Victoria     561
10             England     961
100  Seine Saint Denis    1793

In [45]:
df.drop(1)

,Date,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,,
0,2011-01-01,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
2,2011-01-01,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,False
3,2011-01-01,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,False
4,2011-01-01,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,False
5,2011-01-02,41,Adults (35-64),F,Australia,Queensland,Bikes,Road Bikes,"Road-250 Red, 58",3,1555,2443,1491,4665,6156,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2016-07-31,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484,False
112032,2016-07-31,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377,False
112033,2016-07-31,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144,True
112034,2016-07-31,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64,True
112035,2016-07-31,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35,True

In [47]:
df.drop(1, inplace = True)

In [51]:
df.drop([5,10,20,22], inplace =True)

In [52]:
df

,Date,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,,
0,2011-01-01,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
2,2011-01-01,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,False
3,2011-01-01,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,False
4,2011-01-01,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,False
6,2011-01-02,40,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 40",4,713,1120,687,2852,3539,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2016-07-31,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484,False
112032,2016-07-31,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377,False
112033,2016-07-31,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144,True
112034,2016-07-31,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64,True
112035,2016-07-31,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35,True

In [55]:
df.drop(index=[3,4], inplace = True)

In [56]:
df.head()

,Date,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,,
0,2011-01-01,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
2,2011-01-01,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,False
6,2011-01-02,40,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 40",4,713,1120,687,2852,3539,True
7,2011-01-02,35,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,385,713,1098,False
8,2011-01-02,32,Young Adults (25-34),M,United Kingdom,England,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,362,713,1075,False

In [58]:
df.drop(columns = ['Age_Group'], inplace = True)

In [59]:
df.head()

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
0,2011-01-01,33,F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
2,2011-01-01,17,M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,False
6,2011-01-02,40,M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 40",4,713,1120,687,2852,3539,True
7,2011-01-02,35,F,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,385,713,1098,False
8,2011-01-02,32,M,United Kingdom,England,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,362,713,1075,False

In [61]:
df.iloc[100:105]

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
107,2011-01-18,18,M,Australia,Victoria,Bikes,Road Bikes,"Road-750 Black, 52",1,344,540,83,344,427,True
108,2011-01-19,39,F,United States,Oregon,Bikes,Road Bikes,"Road-550-W Yellow, 48",3,713,1120,751,2139,2890,False
109,2011-01-19,41,F,Australia,Queensland,Bikes,Road Bikes,"Road-250 Red, 58",1,1555,2443,497,1555,2052,True
110,2011-01-19,35,F,United States,Washington,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,620,2171,2791,False
111,2011-01-19,36,F,United Kingdom,England,Bikes,Road Bikes,"Road-350-W Yellow, 48",2,1083,1701,1100,2166,3266,False

In [62]:
df['Customer_Gender']

ID
0         F
2         M
6         M
7         F
8         M
         ..
112031    F
112032    M
112033    F
112034    M
112035    M
Name: Customer_Gender, Length: 112029, dtype: object

In [63]:
df2 = df[['Date','State','Profit','Order_Quantity']]

In [65]:
df2.head()

         Date             State  Profit  Order_Quantity
ID
0  2011-01-01           Yveline    1097               2
2  2011-01-01  British Columbia     900               1
6  2011-01-02          Victoria     687               4
7  2011-01-02        California     385               1
8  2011-01-02           England     362               1

In [66]:
df[:5]

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
0,2011-01-01,33,F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
2,2011-01-01,17,M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,False
6,2011-01-02,40,M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 40",4,713,1120,687,2852,3539,True
7,2011-01-02,35,F,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 48",1,713,1120,385,713,1098,False
8,2011-01-02,32,M,United Kingdom,England,Bikes,Road Bikes,"Road-550-W Yellow, 38",1,713,1120,362,713,1075,False

In [67]:
df[df['Country'] == 'France']

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
0,2011-01-01,33,F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,False
19,2011-01-04,33,F,France,Nord,Bikes,Road Bikes,"Road-150 Red, 52",2,2171,3578,1884,4342,6226,False
51,2011-01-10,33,F,France,Nord,Bikes,Road Bikes,"Road-150 Red, 52",3,2171,3578,2826,6513,9339,False
61,2011-01-12,33,F,France,Garonne (Haute),Bikes,Road Bikes,"Road-150 Red, 48",1,2171,3578,1192,2171,3363,False
66,2011-01-12,30,M,France,Seine (Paris),Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,763,2171,2934,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111833,2016-07-28,19,F,France,Garonne (Haute),Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2,False
111834,2016-07-28,19,F,France,Garonne (Haute),Accessories,Tires and Tubes,Patch Kit/8 Patches,27,1,2,24,27,51,False
111836,2016-07-28,23,F,France,Val de Marne,Accessories,Tires and Tubes,Road Tire Tube,16,1,4,35,16,51,False
111837,2016-07-28,19,F,France,Garonne (Haute),Accessories,Tires and Tubes,Patch Kit/8 Patches,19,1,2,17,19,36,False
111894,2016-07-29,32,F,France,Hauts de Seine,Clothing,Jerseys,"Short-Sleeve Classic Jersey, XL",15,42,54,123,630,753,False

In [68]:
df[df['Profit'] >= 2000]

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
9,2011-01-03,39,F,United States,California,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,5342,8684,14026,False
13,2011-01-03,28,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",4,1252,2295,3805,5008,8813,False
17,2011-01-04,28,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",3,1252,2295,2854,3756,6610,False
25,2011-01-06,44,F,United States,California,Bikes,Road Bikes,"Road-150 Red, 62",3,2171,3578,4006,6513,10519,False
36,2011-01-08,35,M,United States,Washington,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,2479,8684,11163,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109843,2016-06-29,26,F,United Kingdom,England,Bikes,Touring Bikes,"Touring-1000 Blue, 46",3,1482,2384,2420,4446,6866,False
109895,2016-06-30,32,M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-100 Black, 48",3,1898,3375,2305,5694,7999,True
109901,2016-06-30,43,F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 38",2,1252,2295,2040,2504,4544,False
109972,2016-06-30,35,M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",2,1266,2320,2015,2532,4547,False
109983,2016-06-30,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",3,1252,2295,2991,3756,6747,False

In [69]:
df['Order_Quantity'] < 5

ID
0          True
2          True
6          True
7          True
8          True
          ...
112031    False
112032    False
112033     True
112034    False
112035    False
Name: Order_Quantity, Length: 112029, dtype: bool

In [70]:
df3 = df[df['Order_Quantity'] < 5] = 0

C:\Users\Robyi\AppData\Local\Temp\ipykernel_10172\1295404603.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df3 = df[df['Order_Quantity'] < 5] = 0
C:\Users\Robyi\AppData\Local\Temp\ipykernel_10172\1295404603.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df3 = df[df['Order_Quantity'] < 5] = 0

In [73]:
df.head()

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Australia
ID,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0