In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df =  pd.read_excel(r"C:\Users\Robyi\Documents\Latihan Minitab\salesdatavisualize.xlsx")

In [3]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529

In [53]:
df.head

<bound method NDFrame.head of              Date  Day    Month  Year  Customer_Age             Age_Group  \
0      2011-01-01    1  January  2011            33  Young Adults (25-34)
1      2011-01-01    1  January  2011            23           Youth (<25)
2      2011-01-01    1  January  2011            17           Youth (<25)
3      2011-01-01    1  January  2011            39        Adults (35-64)
4      2011-01-01    1  January  2011            42        Adults (35-64)
...           ...  ...      ...   ...           ...                   ...
112031 2016-07-31   31     July  2016            47        Adults (35-64)
112032 2016-07-31   31     July  2016            39        Adults (35-64)
112033 2016-07-31   31     July  2016            21           Youth (<25)
112034 2016-07-31   31     July  2016            31  Young Adults (25-34)
112035 2016-07-31   31     July  2016            34  Young Adults (25-34)

       Customer_Gender         Country             State Product_Category  \
0                    F          France           Yveline            Bikes
1                    M       Australia          Victoria            Bikes
2                    M          Canada  British Columbia            Bikes
3                    M   United States        Washington            Bikes
4                    M   United States        California            Bikes
...                ...             ...               ...              ...
112031               F  United Kingdom           England         Clothing
112032               M   United States        California      Accessories
112033               F       Australia   New South Wales      Accessories
112034               M       Australia        Queensland      Accessories
112035               M       Australia   New South Wales      Accessories

           Sub_Category                  Product  Order_Quantity  Unit_Cost  \
0            Road Bikes         Road-150 Red, 48               2       2171
1        Mountain Bikes   Mountain-200 Black, 46               1       1252
2            Road Bikes         Road-250 Red, 44               1       1519
3            Road Bikes    Road-550-W Yellow, 38               3        713
4            Road Bikes       Road-750 Black, 44               1        344
...                 ...                      ...             ...        ...
112031           Gloves    Half-Finger Gloves, S              21          9
112032  Hydration Packs  Hydration Pack - 70 oz.               7         21
112033  Hydration Packs  Hydration Pack - 70 oz.               3         21
112034  Tires and Tubes           Road Tire Tube              19          1
112035  Tires and Tubes       Mountain Tire Tube               8          2

        Unit_Price  Profit  Cost  Revenue  Gross
0             3578    1097  4342     5439   6536
1             2295     561  1252     1813   2374
2             2443     900  1519     2419   3319
3             1120     482  2139     2621   3103
4              540     185   344      529    714
...            ...     ...   ...      ...    ...
112031          24     295   189      484    779
112032          55     230   147      377    607
112033          55      81    63      144    225
112034           4      45    19       64    109
112035           5      19    16       35     54

[112036 rows x 19 columns]>

In [7]:
df.loc[[10,20]]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
10,2011-01-03,3,January,2011,38,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1,1266,2320,961,1266,2227
20,2011-01-04,4,January,2011,36,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-650 Red, 62",2,487,783,561,974,1535

In [8]:
df.loc[10, ['State','Profit']]

State     England
Profit        961
Name: 10, dtype: object

In [9]:
df.iloc[[10,20]]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
10,2011-01-03,3,January,2011,38,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1,1266,2320,961,1266,2227
20,2011-01-04,4,January,2011,36,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-650 Red, 62",2,487,783,561,974,1535

In [11]:
df.iloc[10,[3,4,5]]

Year                      2011
Customer_Age                38
Age_Group       Adults (35-64)
Name: 10, dtype: object

In [12]:
df.iloc[0,[0]]

Date    2011-01-01 00:00:00
Name: 0, dtype: object

In [13]:
df.loc[:5,'State']

0             Yveline
1            Victoria
2    British Columbia
3          Washington
4          California
5          Queensland
Name: State, dtype: object

In [15]:
df.loc[210:215, ['State','Profit']]

               State  Profit
210  South Australia      99
211       Washington     731
212          England    1059
213          England    2528
214  New South Wales    1587
215           Oregon    3014

In [18]:
df.loc[df.Profit >5000].head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
9,2011-01-03,3,January,2011,39,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,5342,8684,14026
83,2011-01-15,15,January,2011,72,Seniors (64+),F,United States,California,Bikes,Mountain Bikes,"Mountain-100 Black, 48",4,1898,3375,5638,7592,13230
98,2011-01-17,17,January,2011,44,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-150 Red, 62",4,2171,3578,5342,8684,14026
99,2011-01-17,17,January,2011,30,Young Adults (25-34),M,United States,California,Bikes,Road Bikes,"Road-150 Red, 48",4,2171,3578,5342,8684,14026
182,2011-01-31,31,January,2011,61,Adults (35-64),F,United States,California,Bikes,Road Bikes,"Road-150 Red, 52",4,2171,3578,5342,8684,14026

In [19]:
df[:3]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419

In [21]:
df[112031:]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
112031,2016-07-31,31,July,2016,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484
112032,2016-07-31,31,July,2016,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377
112033,2016-07-31,31,July,2016,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144
112034,2016-07-31,31,July,2016,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64
112035,2016-07-31,31,July,2016,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35

In [22]:
df['Gross'] = df['Profit'] + df['Revenue']

In [23]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714

In [24]:
df['Gross'] > 6000

0          True
1         False
2         False
3         False
4         False
          ...
112031    False
112032    False
112033    False
112034    False
112035    False
Name: Gross, Length: 112036, dtype: bool

In [27]:
df.sort_index(ascending = False).head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
112035,2016-07-31,31,July,2016,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35,54
112034,2016-07-31,31,July,2016,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64,109
112033,2016-07-31,31,July,2016,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144,225
112032,2016-07-31,31,July,2016,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377,607
112031,2016-07-31,31,July,2016,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484,779

In [30]:
df.sort_index(axis = 'columns').head()

,Age_Group,Cost,Country,Customer_Age,Customer_Gender,Date,Day,Gross,Month,Order_Quantity,Product,Product_Category,Profit,Revenue,State,Sub_Category,Unit_Cost,Unit_Price,Year
0,Young Adults (25-34),4342,France,33,F,2011-01-01,1,6536,January,2,"Road-150 Red, 48",Bikes,1097,5439,Yveline,Road Bikes,2171,3578,2011
1,Youth (<25),1252,Australia,23,M,2011-01-01,1,2374,January,1,"Mountain-200 Black, 46",Bikes,561,1813,Victoria,Mountain Bikes,1252,2295,2011
2,Youth (<25),1519,Canada,17,M,2011-01-01,1,3319,January,1,"Road-250 Red, 44",Bikes,900,2419,British Columbia,Road Bikes,1519,2443,2011
3,Adults (35-64),2139,United States,39,M,2011-01-01,1,3103,January,3,"Road-550-W Yellow, 38",Bikes,482,2621,Washington,Road Bikes,713,1120,2011
4,Adults (35-64),344,United States,42,M,2011-01-01,1,714,January,1,"Road-750 Black, 44",Bikes,185,529,California,Road Bikes,344,540,2011

In [32]:
df.sort_index(axis = 'columns', ascending = False).head()

,Year,Unit_Price,Unit_Cost,Sub_Category,State,Revenue,Profit,Product_Category,Product,Order_Quantity,Month,Gross,Day,Date,Customer_Gender,Customer_Age,Country,Cost,Age_Group
0,2011,3578,2171,Road Bikes,Yveline,5439,1097,Bikes,"Road-150 Red, 48",2,January,6536,1,2011-01-01,F,33,France,4342,Young Adults (25-34)
1,2011,2295,1252,Mountain Bikes,Victoria,1813,561,Bikes,"Mountain-200 Black, 46",1,January,2374,1,2011-01-01,M,23,Australia,1252,Youth (<25)
2,2011,2443,1519,Road Bikes,British Columbia,2419,900,Bikes,"Road-250 Red, 44",1,January,3319,1,2011-01-01,M,17,Canada,1519,Youth (<25)
3,2011,1120,713,Road Bikes,Washington,2621,482,Bikes,"Road-550-W Yellow, 38",3,January,3103,1,2011-01-01,M,39,United States,2139,Adults (35-64)
4,2011,540,344,Road Bikes,California,529,185,Bikes,"Road-750 Black, 44",1,January,714,1,2011-01-01,M,42,United States,344,Adults (35-64)

In [33]:
df['Profit'].sort_values().head()

80493   -30
27229   -29
70765   -25
17316   -25
8025    -24
Name: Profit, dtype: int64

In [34]:
df['Cost'].sort_values(ascending = False).head()

61441    42978
8131     40014
530       8684
99        8684
1355      8684
Name: Cost, dtype: int64

In [35]:
df['State'].sort_values().head()

22152     Alabama
110789    Alabama
57449     Alabama
75513     Alabama
18560     Alberta
Name: State, dtype: object

In [37]:
df['Cost'].sort_values(na_position = "first")

89600         1
19075         1
19071         1
76673         1
101564        1
          ...
624        8684
263        8684
2160       8684
8131      40014
61441     42978
Name: Cost, Length: 112036, dtype: int64

In [38]:
df['Order_Quantity'].rank()

0         26202.0
1         11199.0
2         11199.0
3         32560.0
4         11199.0
           ...
112031    86359.0
112032    46061.5
112033    32560.0
112034    80730.5
112035    48973.0
Name: Order_Quantity, Length: 112036, dtype: float64

In [39]:
df['Order_Quantity'].rank(method = 'first')

0         22398.0
1             1.0
2             2.0
3         30007.0
4             3.0
           ...
112031    87736.0
112032    47542.0
112033    35113.0
112034    82133.0
112035    50403.0
Name: Order_Quantity, Length: 112036, dtype: float64

In [40]:
df['Order_Quantity'].rank(ascending = False)

0          85835.0
1         100838.0
2         100838.0
3          79477.0
4         100838.0
            ...
112031     25678.0
112032     65975.5
112033     79477.0
112034     31306.5
112035     63064.0
Name: Order_Quantity, Length: 112036, dtype: float64

In [42]:
df.index.is_unique

True

In [44]:
df[['Profit','Cost','Revenue']].sum()

Profit     32046239
Cost       52780533
Revenue    84826772
dtype: int64

In [81]:
tes1 = df[df['Country'] == 'Canada']['Profit'].sum()
print(tes1)

3702019

In [82]:
tes2 = df[df['Country'] == 'Australia']['Order_Quantity'].mean()
print(tes2)

11.00551904280418

In [83]:
tes3 = df.groupby('Country')['Cost'].sum()
print(tes3)

Country
Australia         14455873
Canada             4204163
France             5542663
Germany            5606733
United Kingdom     6191641
United States     16779460
Name: Cost, dtype: int64

In [84]:
tes4 = df.groupby('Customer_Gender')['Gross'].sum()
tes5 = tes4.sort_values(ascending = False)
print(tes5)

Customer_Gender
M    59536503
F    57336508
Name: Gross, dtype: int64

In [85]:
df['Product'].value_counts()

Product
Water Bottle - 30 oz.      10641
Patch Kit/8 Patches        10256
Mountain Tire Tube          6688
AWC Logo Cap                4358
Sport-100 Helmet, Red       4218
                           ...
Mountain-100 Silver, 48       58
Mountain-100 Silver, 42       54
Mountain-500 Silver, 48       40
Road-650 Red, 52              32
Mountain-500 Black, 52        22
Name: count, Length: 130, dtype: int64

In [86]:
df['Product'].value_counts().sort_values(ascending =False).head()

Product
Water Bottle - 30 oz.    10641
Patch Kit/8 Patches      10256
Mountain Tire Tube        6688
AWC Logo Cap              4358
Sport-100 Helmet, Red     4218
Name: count, dtype: int64

In [89]:
tes6 = df['Country'].duplicated().sum()
print(tes6)

112030

In [90]:
tes7= df[df.isnull().any(axis = 1)]
print(tes7)

Empty DataFrame
Columns: [Date, Day, Month, Year, Customer_Age, Age_Group, Customer_Gender, Country, State, Product_Category, Sub_Category, Product, Order_Quantity, Unit_Cost, Unit_Price, Profit, Cost, Revenue, Gross]
Index: []

In [91]:
tes8 = df[df['Country'] == 'Canada']['Cost'].max()
print(tes8)

8684

In [92]:
df.loc[df['Country'] == 'Germany','Cost'].iloc[0]

1083

In [93]:
df.loc[df['Product_Category'] == 'Bikes','Profit'].iloc[0]

1097

In [94]:
df[df['Country'] == 'United States'][['Country','Profit','Cost']].head()

          Country  Profit  Cost
3   United States     482  2139
4   United States     185   344
7   United States     385   713
9   United States    5342  8684
12  United States    1008  1266

In [96]:
df[df['Country'] == 'United States'][['Country','Profit','Cost','Product']].head()

          Country  Profit  Cost                  Product
3   United States     482  2139    Road-550-W Yellow, 38
4   United States     185   344       Road-750 Black, 44
7   United States     385   713    Road-550-W Yellow, 48
9   United States    5342  8684         Road-150 Red, 48
12  United States    1008  1266  Mountain-200 Silver, 42

In [98]:
df[df['Sub_Category'] == 'Bike Stands'].head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
7079,2013-07-01,1,July,2013,37,Adults (35-64),M,France,Nord,Accessories,Bike Stands,All-Purpose Bike Stand,8,59,159,635,472,1107,1742
7956,2013-07-20,20,July,2013,34,Young Adults (25-34),F,United States,California,Accessories,Bike Stands,All-Purpose Bike Stand,4,59,159,387,236,623,1010
8011,2013-07-22,22,July,2013,18,Youth (<25),F,United States,California,Accessories,Bike Stands,Hitch Rack - 4-Bike,4,45,120,290,180,470,760
8102,2013-07-24,24,July,2013,44,Adults (35-64),F,Australia,Queensland,Accessories,Bike Stands,All-Purpose Bike Stand,3,59,159,224,177,401,625
8465,2013-08-01,1,August,2013,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Bike Stands,All-Purpose Bike Stand,2,59,159,159,118,277,436

In [123]:
df[df['Customer_Age'] >= 50][['Product','Country','Gross']]

                           Product        Country  Gross
Date
2011-01-05      Road-650 Black, 60         Canada   3191
2011-01-11        Road-150 Red, 52  United States   9684
2011-01-14   Road-550-W Yellow, 42      Australia   3505
2011-01-15  Mountain-100 Black, 48  United States  18868
2011-01-16      Road-250 Black, 58      Australia   2695
...                            ...            ...    ...
2016-07-31  Sport-100 Helmet, Blue  United States   1668
2016-07-31   Water Bottle - 30 oz.         Canada     48
2016-07-31   Water Bottle - 30 oz.         Canada    102
2016-07-31         Classic Vest, S         Canada   1130
2016-07-31         Racing Socks, M        Germany    247

[14668 rows x 3 columns]

In [99]:
df[df['Sub_Category'] == 'Bike Stands'][['Customer_Gender']].head()

     Customer_Gender
7079               M
7956               F
8011               F
8102               F
8465               M

In [100]:
df[df['Profit'] > 1000 ][['Country']].head()

           Country
0           France
5        Australia
9    United States
12   United States
13  United Kingdom

In [102]:
df[df['Profit'] > 500 ][['Country','Sub_Category','Date']].head()

     Country    Sub_Category       Date
0     France      Road Bikes 2011-01-01
1  Australia  Mountain Bikes 2011-01-01
2     Canada      Road Bikes 2011-01-01
5  Australia      Road Bikes 2011-01-02
6  Australia      Road Bikes 2011-01-02

In [104]:
df[df['Order_Quantity'] < 3 ][['Country','Sub_Category','Unit_Cost']].head()

         Country    Sub_Category  Unit_Cost
0         France      Road Bikes       2171
1      Australia  Mountain Bikes       1252
2         Canada      Road Bikes       1519
4  United States      Road Bikes        344
7  United States      Road Bikes        713

In [108]:
tesdata1 = df.groupby('Country')[['Cost','Profit','Revenue']].mean()
tesdata1

                      Cost      Profit     Revenue
Country
Australia       609.027342  283.978851  893.006193
Canada          299.719327  263.920938  563.640265
France          507.569872  263.011172  770.581044
Germany         508.454974  303.798948  812.253922
United Kingdom  459.116195  325.076895  784.193089
United States   432.014933  283.152369  715.167302

In [110]:
tesdata2 = df.groupby('Product')[['Cost','Profit','Revenue']].max()
tesdata2.head()

                        Cost  Profit  Revenue
Product
AWC Logo Cap             224      61      285
All-Purpose Bike Stand   708    1083     1732
Bike Wash - Dissolver     96     157      253
Classic Vest, L          744    1181     1905
Classic Vest, M          744    1181     1901

In [112]:
tesdata3 = df['Product_Category'].value_counts()
tesdata3.head()

Product_Category
Accessories    69312
Bikes          25794
Clothing       16930
Name: count, dtype: int64

In [47]:
df['Order_Quantity'].mean()

11.904253989788996

In [48]:
df['Customer_Age'].max()

87

In [49]:
df['Customer_Age'].min()

17

In [51]:
df.describe()

,Date,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
count,112036,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000,112036.000000
mean,2014-11-23 05:22:32.008282624,15.665607,2014.400925,35.919508,11.904254,267.819603,453.850628,286.035194,471.103333,757.138527,1043.173721
min,2011-01-01 00:00:00,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000,3.000000
25%,2013-12-22 00:00:00,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,64.000000,98.000000
50%,2014-06-27 00:00:00,16.000000,2014.000000,35.000000,10.000000,9.000000,25.000000,103.000000,112.000000,226.000000,338.000000
75%,2016-01-09 00:00:00,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,360.000000,442.000000,806.000000,1150.000000
max,2016-07-31 00:00:00,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000,73170.000000
std,NaN,8.781485,1.273327,11.016543,9.564877,550.218722,922.751848,454.852634,886.971635,1312.061623,1752.162823

In [54]:
df.idxmax()

Date                111954
Day                    181
Month                 1722
Year                 82908
Customer_Age         36380
Age_Group                1
Customer_Gender          1
Country                  3
State                    0
Product_Category      7064
Sub_Category          7238
Product               8468
Order_Quantity       60539
Unit_Cost                0
Unit_Price               0
Profit               61441
Cost                 61441
Revenue              61441
Gross                61441
dtype: int64

In [56]:
df.nunique()

Date                1884
Day                   31
Month                 12
Year                   6
Customer_Age          70
Age_Group              4
Customer_Gender        2
Country                6
State                 53
Product_Category       3
Sub_Category          17
Product              130
Order_Quantity        32
Unit_Cost             34
Unit_Price            36
Profit              1256
Cost                 360
Revenue             1876
Gross               2338
dtype: int64

In [59]:
df['Country'].isin(['France'])

0          True
1         False
2         False
3         False
4         False
          ...
112031    False
112032    False
112033    False
112034    False
112035    False
Name: Country, Length: 112036, dtype: bool

In [60]:
df['Country'].isin(['Brazil','Germany'])

0         False
1         False
2         False
3         False
4         False
          ...
112031    False
112032    False
112033    False
112034    False
112035    False
Name: Country, Length: 112036, dtype: bool

In [61]:
df['Country'].value_counts()

Country
United States     38840
Australia         23736
Canada            14027
United Kingdom    13486
Germany           11027
France            10920
Name: count, dtype: int64

In [62]:
df['Country'].value_counts().sort_index()

Country
Australia         23736
Canada            14027
France            10920
Germany           11027
United Kingdom    13486
United States     38840
Name: count, dtype: int64

In [63]:
df['Country'].value_counts().sort_values()

Country
France            10920
Germany           11027
United Kingdom    13486
Canada            14027
Australia         23736
United States     38840
Name: count, dtype: int64

In [64]:
df['Country'].value_counts().sort_index(ascending = False)

Country
United States     38840
United Kingdom    13486
Germany           11027
France            10920
Canada            14027
Australia         23736
Name: count, dtype: int64

In [65]:
pd.to_datetime(df['Date'])

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
112031   2016-07-31
112032   2016-07-31
112033   2016-07-31
112034   2016-07-31
112035   2016-07-31
Name: Date, Length: 112036, dtype: datetime64[ns]

In [69]:
df.isna().head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
df.isnull().head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [70]:
df.dropna()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2016-07-31,31,July,2016,47,Adults (35-64),F,United Kingdom,England,Clothing,Gloves,"Half-Finger Gloves, S",21,9,24,295,189,484,779
112032,2016-07-31,31,July,2016,39,Adults (35-64),M,United States,California,Accessories,Hydration Packs,Hydration Pack - 70 oz.,7,21,55,230,147,377,607
112033,2016-07-31,31,July,2016,21,Youth (<25),F,Australia,New South Wales,Accessories,Hydration Packs,Hydration Pack - 70 oz.,3,21,55,81,63,144,225
112034,2016-07-31,31,July,2016,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,19,1,4,45,19,64,109
112035,2016-07-31,31,July,2016,34,Young Adults (25-34),M,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,8,2,5,19,16,35,54

In [72]:
df[df.notna()].head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714

In [75]:
df.dropna(how = "all").head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
0,2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
1,2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
3,2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103
4,2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714

In [77]:
df[['Profit','Cost','Revenue','Gross']].fillna(0)

        Profit  Cost  Revenue  Gross
0         1097  4342     5439   6536
1          561  1252     1813   2374
2          900  1519     2419   3319
3          482  2139     2621   3103
4          185   344      529    714
...        ...   ...      ...    ...
112031     295   189      484    779
112032     230   147      377    607
112033      81    63      144    225
112034      45    19       64    109
112035      19    16       35     54

[112036 rows x 4 columns]

In [79]:
df['Order_Quantity'].ffill()

0          2
1          1
2          1
3          3
4          1
          ..
112031    21
112032     7
112033     3
112034    19
112035     8
Name: Order_Quantity, Length: 112036, dtype: int64

In [80]:
df['Profit'].fillna(df['Profit'].mean())

0         1097
1          561
2          900
3          482
4          185
          ...
112031     295
112032     230
112033      81
112034      45
112035      19
Name: Profit, Length: 112036, dtype: int64

In [113]:
df.set_index('Date', inplace = True)

In [114]:
df.head(4)

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
Date,,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103

In [116]:
df.sort_index(inplace = True)

In [117]:
df.head

<bound method NDFrame.head of             Day    Month  Year  Customer_Age             Age_Group  \
Date
2011-01-01    1  January  2011            33  Young Adults (25-34)
2011-01-01    1  January  2011            23           Youth (<25)
2011-01-01    1  January  2011            17           Youth (<25)
2011-01-01    1  January  2011            39        Adults (35-64)
2011-01-01    1  January  2011            42        Adults (35-64)
...         ...      ...   ...           ...                   ...
2016-07-31   31     July  2016            47        Adults (35-64)
2016-07-31   31     July  2016            39        Adults (35-64)
2016-07-31   31     July  2016            21           Youth (<25)
2016-07-31   31     July  2016            31  Young Adults (25-34)
2016-07-31   31     July  2016            34  Young Adults (25-34)

           Customer_Gender         Country             State Product_Category  \
Date
2011-01-01               F          France           Yveline            Bikes
2011-01-01               M       Australia          Victoria            Bikes
2011-01-01               M          Canada  British Columbia            Bikes
2011-01-01               M   United States        Washington            Bikes
2011-01-01               M   United States        California            Bikes
...                    ...             ...               ...              ...
2016-07-31               F  United Kingdom           England         Clothing
2016-07-31               M   United States        California      Accessories
2016-07-31               F       Australia   New South Wales      Accessories
2016-07-31               M       Australia        Queensland      Accessories
2016-07-31               M       Australia   New South Wales      Accessories

               Sub_Category                  Product  Order_Quantity  \
Date
2011-01-01       Road Bikes         Road-150 Red, 48               2
2011-01-01   Mountain Bikes   Mountain-200 Black, 46               1
2011-01-01       Road Bikes         Road-250 Red, 44               1
2011-01-01       Road Bikes    Road-550-W Yellow, 38               3
2011-01-01       Road Bikes       Road-750 Black, 44               1
...                     ...                      ...             ...
2016-07-31           Gloves    Half-Finger Gloves, S              21
2016-07-31  Hydration Packs  Hydration Pack - 70 oz.               7
2016-07-31  Hydration Packs  Hydration Pack - 70 oz.               3
2016-07-31  Tires and Tubes           Road Tire Tube              19
2016-07-31  Tires and Tubes       Mountain Tire Tube               8

            Unit_Cost  Unit_Price  Profit  Cost  Revenue  Gross
Date
2011-01-01       2171        3578    1097  4342     5439   6536
2011-01-01       1252        2295     561  1252     1813   2374
2011-01-01       1519        2443     900  1519     2419   3319
2011-01-01        713        1120     482  2139     2621   3103
2011-01-01        344         540     185   344      529    714
...               ...         ...     ...   ...      ...    ...
2016-07-31          9          24     295   189      484    779
2016-07-31         21          55     230   147      377    607
2016-07-31         21          55      81    63      144    225
2016-07-31          1           4      45    19       64    109
2016-07-31          2           5      19    16       35     54

[112036 rows x 18 columns]>

In [120]:
df['Product'].str.strip()

Date
2011-01-01           Road-150 Red, 48
2011-01-01     Mountain-200 Black, 46
2011-01-01           Road-250 Red, 44
2011-01-01      Road-550-W Yellow, 38
2011-01-01         Road-750 Black, 44
                       ...
2016-07-31      Half-Finger Gloves, S
2016-07-31    Hydration Pack - 70 oz.
2016-07-31    Hydration Pack - 70 oz.
2016-07-31             Road Tire Tube
2016-07-31         Mountain Tire Tube
Name: Product, Length: 112036, dtype: object

In [121]:
df['Age_Group'].str.strip()

Date
2011-01-01    Young Adults (25-34)
2011-01-01             Youth (<25)
2011-01-01             Youth (<25)
2011-01-01          Adults (35-64)
2011-01-01          Adults (35-64)
                      ...
2016-07-31          Adults (35-64)
2016-07-31          Adults (35-64)
2016-07-31             Youth (<25)
2016-07-31    Young Adults (25-34)
2016-07-31    Young Adults (25-34)
Name: Age_Group, Length: 112036, dtype: object

In [125]:
df.rename(columns ={'Age_Group':'Age_Category'}).head()

,Day,Month,Year,Customer_Age,Age_Category,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross
Date,,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714

In [ ]:
df.rename(index = {'A':'B'}, inplace = True).head()

In [ ]:
df.index.str.lower()

In [ ]:
df.index.str.upper()

In [128]:
datates5 = df.columns.str.upper()
print(datates5)

Index(['DAY', 'MONTH', 'YEAR', 'CUSTOMER_AGE', 'AGE_GROUP', 'CUSTOMER_GENDER',
       'COUNTRY', 'STATE', 'PRODUCT_CATEGORY', 'SUB_CATEGORY', 'PRODUCT',
       'ORDER_QUANTITY', 'UNIT_COST', 'UNIT_PRICE', 'PROFIT', 'COST',
       'REVENUE', 'GROSS'],
      dtype='object')

In [130]:
datates6 = df.columns.str.lower()
print(datates6)

Index(['day', 'month', 'year', 'customer_age', 'age_group', 'customer_gender',
       'country', 'state', 'product_category', 'sub_category', 'product',
       'order_quantity', 'unit_cost', 'unit_price', 'profit', 'cost',
       'revenue', 'gross'],
      dtype='object')

In [133]:
df.columns.str.lower()

Index(['day', 'month', 'year', 'customer_age', 'age_group', 'customer_gender',
       'country', 'state', 'product_category', 'sub_category', 'product',
       'order_quantity', 'unit_cost', 'unit_price', 'profit', 'cost',
       'revenue', 'gross'],
      dtype='object')

In [135]:
df['Country'].str.lower()

Date
2011-01-01            france
2011-01-01         australia
2011-01-01            canada
2011-01-01     united states
2011-01-01     united states
                   ...
2016-07-31    united kingdom
2016-07-31     united states
2016-07-31         australia
2016-07-31         australia
2016-07-31         australia
Name: Country, Length: 112036, dtype: object

In [137]:
df['Product'].str.upper()

Date
2011-01-01           ROAD-150 RED, 48
2011-01-01     MOUNTAIN-200 BLACK, 46
2011-01-01           ROAD-250 RED, 44
2011-01-01      ROAD-550-W YELLOW, 38
2011-01-01         ROAD-750 BLACK, 44
                       ...
2016-07-31      HALF-FINGER GLOVES, S
2016-07-31    HYDRATION PACK - 70 OZ.
2016-07-31    HYDRATION PACK - 70 OZ.
2016-07-31             ROAD TIRE TUBE
2016-07-31         MOUNTAIN TIRE TUBE
Name: Product, Length: 112036, dtype: object

In [138]:
df['Buy_Again'] = np.random.choice([0,1], size = len(df))

In [139]:
df.head(5)

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Gross,Buy_Again
Date,,,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439,6536,0
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813,2374,0
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419,3319,0
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621,3103,0
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529,714,1

In [142]:
df.dtypes

Day                  int64
Month               object
Year                 int64
Customer_Age         int64
Age_Group           object
Customer_Gender     object
Country             object
State               object
Product_Category    object
Sub_Category        object
Product             object
Order_Quantity       int64
Unit_Cost            int64
Unit_Price           int64
Profit               int64
Cost                 int64
Revenue              int64
Gross                int64
Buy_Again            int32
dtype: object

In [143]:
df['Gross'] = df['Gross'].astype(float)

In [144]:
df.dtypes

Day                   int64
Month                object
Year                  int64
Customer_Age          int64
Age_Group            object
Customer_Gender      object
Country              object
State                object
Product_Category     object
Sub_Category         object
Product              object
Order_Quantity        int64
Unit_Cost             int64
Unit_Price            int64
Profit                int64
Cost                  int64
Revenue               int64
Gross               float64
Buy_Again             int32
dtype: object

In [145]:
df.drop(columns = ['Month','Day'], inplace = True)

In [ ]:
df.set_index(['Year','Date'], inplace = True)