In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, regexp_replace, trim, lower, upper, mean, median, count, lit, split, concat_ws, year, month, dayofweek
import pandas as pd
import numpy as np
import findspark

In [2]:
findspark.init()

In [3]:
spark = SparkSession.builder.appName("PreprocessingFeatureEngineering").getOrCreate()

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 63582)
Traceback (most recent call last):
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "C:\Users\Robyi\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [4]:
spark

In [6]:
data = [
    ("John Doe", 25, "New York", 50000, "Male", "2024-01-15", "yes", 3, 0.5, 1.5),
    ("Jane Smith", 30, "Los Angeles", None, "Female", "2023-05-20", "no", 5, None, 3.1),
    (None, None, "San Francisco", 70000, "Other", None, "no", 2, 1.2, 2.0),
    ("Michael Johnson", 40, None, 80000, "Male", "2022-08-10", None, None, 0.8, None),
    ("Sara Connor", 50, "Chicago", 90000, "Female", "2019-12-25", "yes", 7, 2.5, 4.0),
    ("John Doe", 25, "New York", 50000, "Male", "2024-01-15", "yes", 3, 0.5, 1.5),  # Duplikat
]

columns = ["name", "age", "city", "salary", "gender", "date", "response", "experience", "rating", "score"]

df = spark.createDataFrame(data, columns)

In [7]:
df.show()

+---------------+----+-------------+------+------+----------+--------+----------+------+-----+
|           name| age|         city|salary|gender|      date|response|experience|rating|score|
+---------------+----+-------------+------+------+----------+--------+----------+------+-----+
|       John Doe|  25|     New York| 50000|  Male|2024-01-15|     yes|         3|   0.5|  1.5|
|     Jane Smith|  30|  Los Angeles|  null|Female|2023-05-20|      no|         5|  null|  3.1|
|           null|null|San Francisco| 70000| Other|      null|      no|         2|   1.2|  2.0|
|Michael Johnson|  40|         null| 80000|  Male|2022-08-10|    null|      null|   0.8| null|
|    Sara Connor|  50|      Chicago| 90000|Female|2019-12-25|     yes|         7|   2.5|  4.0|
|       John Doe|  25|     New York| 50000|  Male|2024-01-15|     yes|         3|   0.5|  1.5|
+---------------+----+-------------+------+------+----------+--------+----------+------+-----+

In [8]:
df = df.fillna({"name": "Unknown", "city": "Unknown", "gender": "Other", "response": "Unknown"})

In [10]:
pandas_df = df.collect()
columns = ["name", "age", "city", "salary", "gender", "date", "response", "experience","rating","score"]
df_pandas = pd.DataFrame(pandas_df, columns=columns)

In [11]:
df_pandas["age"].fillna(df_pandas["age"].median(), inplace=True)
df_pandas["salary"].fillna(df_pandas["salary"].mean(), inplace=True)
df_pandas["experience"].fillna(df_pandas["experience"].median(), inplace=True)
df_pandas["rating"].fillna(df_pandas["rating"].mean(), inplace=True)
df_pandas["score"].fillna(df_pandas["score"].median(), inplace=True)

In [12]:
df = spark.createDataFrame(df_pandas)

In [13]:
df = df.fillna({"date": "2000-01-01"})
df = df.withColumn("date", col("date").cast("date"))

In [14]:
from pyspark.ml.feature import StringIndexer

In [15]:
indexer_gender = StringIndexer(inputCol="gender", outputCol="gender_index")
indexer_response = StringIndexer(inputCol="response", outputCol="response_index")

df = indexer_gender.fit(df).transform(df)
df = indexer_response.fit(df).transform(df)

In [16]:
df.show()

+---------------+----+-------------+-------+------+----------+--------+----------+------+-----+------------+--------------+
|           name| age|         city| salary|gender|      date|response|experience|rating|score|gender_index|response_index|
+---------------+----+-------------+-------+------+----------+--------+----------+------+-----+------------+--------------+
|       John Doe|25.0|     New York|50000.0|  Male|2024-01-15|     yes|       3.0|   0.5|  1.5|         0.0|           0.0|
|     Jane Smith|30.0|  Los Angeles|68000.0|Female|2023-05-20|      no|       5.0|   1.1|  3.1|         1.0|           1.0|
|        Unknown|30.0|San Francisco|70000.0| Other|2000-01-01|      no|       2.0|   1.2|  2.0|         2.0|           1.0|
|Michael Johnson|40.0|      Unknown|80000.0|  Male|2022-08-10| Unknown|       3.0|   0.8|  2.0|         0.0|           2.0|
|    Sara Connor|50.0|      Chicago|90000.0|Female|2019-12-25|     yes|       7.0|   2.5|  4.0|         1.0|           0.0|
|       John Doe|25.0|     New York|50000.0|  Male|2024-01-15|     yes|       3.0|   0.5|  1.5|         0.0|           0.0|
+---------------+----+-------------+-------+------+----------+--------+----------+------+-----+------------+--------------+

In [17]:
pandas_df = df.collect()
columns = ["name", "age", "city", "salary", "gender", "date", "response", "experience","rating","score","gender_index","response_index"]
df_pandas = pd.DataFrame(pandas_df, columns=columns)

In [18]:
df_pandas = pd.get_dummies(df_pandas, columns=["gender", "response"], drop_first=True)

In [19]:
df = spark.createDataFrame(df_pandas)

In [20]:
df.show()

+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+
|           name| age|         city| salary|      date|experience|rating|score|gender_index|response_index|gender_Male|gender_Other|response_no|response_yes|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|
|     Jane Smith|30.0|  Los Angeles|68000.0|2023-05-20|       5.0|   1.1|  3.1|         1.0|           1.0|      false|       false|       true|       false|
|        Unknown|30.0|San Francisco|70000.0|2000-01-01|       2.0|   1.2|  2.0|         2.0|           1.0|      false|        true|       true|       false|
|Michael Johnson|40.0|      Unknown|80000.0|2022-08-10|       3.0|   0.8|  2.0|         0.0|           2.0|       true|       false|      false|       false|
|    Sara Connor|50.0|      Chicago|90000.0|2019-12-25|       7.0|   2.5|  4.0|         1.0|           0.0|      false|       false|      false|        true|
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+

In [21]:
from pyspark.ml.feature import MinMaxScaler, VectorAssembler

In [22]:
assembler = VectorAssembler(inputCols=["salary", "experience", "rating", "score"], outputCol="features_vector")
df = assembler.transform(df)

In [23]:
scaler = MinMaxScaler(inputCol="features_vector", outputCol="features_scaled")
df = scaler.fit(df).transform(df)

In [24]:
from pyspark.ml.feature import StandardScaler

In [25]:
scaler_std = StandardScaler(inputCol="features_vector", outputCol="features_standardized", withStd=True, withMean=True)
df = scaler_std.fit(df).transform(df)

In [26]:
df = df.withColumn("year", year(col("date")))
df = df.withColumn("month", month(col("date")))
df = df.withColumn("day_of_week", dayofweek(col("date")))

In [27]:
df = df.withColumn("experience_score", col("experience") * col("score"))
df = df.withColumn("salary_rating_ratio", col("salary") / (col("rating") + 1))

In [28]:
df = df.withColumn("experience_squared", col("experience") ** 2)
df = df.withColumn("score_cubed", col("score") ** 3)

In [29]:
from pyspark.ml.feature import Bucketizer

In [30]:
splits = [0, 30, 40, 50, float("inf")]
bucketizer = Bucketizer(splits=splits, inputCol="age", outputCol="age_group")

In [31]:
df = bucketizer.transform(df)

In [32]:
df.show()

+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+
|           name| age|         city| salary|      date|experience|rating|score|gender_index|response_index|gender_Male|gender_Other|response_no|response_yes|     features_vector|     features_scaled|features_standardized|year|month|day_of_week|experience_score|salary_rating_ratio|experience_squared|       score_cubed|age_group|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|[50000.0,3.0,0.5,...|       (4,[1],[0.2])| [-1.125,-0.454170...|2024|    1|          2|             4.5| 33333.333333333336|               9.0|             3.375|      0.0|
|     Jane Smith|30.0|  Los Angeles|68000.0|2023-05-20|       5.0|   1.1|  3.1|         1.0|           1.0|      false|       false|       true|       false|[68000.0,5.0,1.1,...|[0.45,0.600000000...| [0.0,0.6358383670...|2023|    5|          7|            15.5| 32380.952380952378|              25.0|29.791000000000004|      1.0|
|        Unknown|30.0|San Francisco|70000.0|2000-01-01|       2.0|   1.2|  2.0|         2.0|           1.0|      false|        true|       true|       false|[70000.0,2.0,1.2,...|  [0.5,0.0,0.35,0.2]| [0.125,-0.9991745...|2000|    1|          7|             4.0| 31818.181818181816|               4.0|               8.0|      1.0|
|Michael Johnson|40.0|      Unknown|80000.0|2022-08-10|       3.0|   0.8|  2.0|         0.0|           2.0|       true|       false|      false|       false|[80000.0,3.0,0.8,...|[0.75,0.2,0.15000...| [0.75,-0.45417026...|2022|    8|          4|             6.0| 44444.444444444445|               9.0|               8.0|      2.0|
|    Sara Connor|50.0|      Chicago|90000.0|2019-12-25|       7.0|   2.5|  4.0|         1.0|           0.0|      false|       false|      false|        true|[90000.0,7.0,2.5,...|   [1.0,1.0,1.0,1.0]| [1.375,1.72584699...|2019|   12|          4|            28.0| 25714.285714285714|              49.0|              64.0|      3.0|
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|[50000.0,3.0,0.5,...|       (4,[1],[0.2])| [-1.125,-0.454170...|2024|    1|          2|             4.5| 33333.333333333336|               9.0|             3.375|      0.0|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+

In [34]:
from pyspark.ml.feature import PCA

In [35]:
pca = PCA(k=2, inputCol="features_vector", outputCol="pca_features")
df = pca.fit(df).transform(df)

In [36]:
df.show()
df.printSchema()

+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+--------------------+
|           name| age|         city| salary|      date|experience|rating|score|gender_index|response_index|gender_Male|gender_Other|response_no|response_yes|     features_vector|     features_scaled|features_standardized|year|month|day_of_week|experience_score|salary_rating_ratio|experience_squared|       score_cubed|age_group|        pca_features|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+--------------------+
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|[50000.0,3.0,0.5,...|       (4,[1],[0.2])| [-1.125,-0.454170...|2024|    1|          2|             4.5| 33333.333333333336|               9.0|             3.375|      0.0|[-50000.000085214...|
|     Jane Smith|30.0|  Los Angeles|68000.0|2023-05-20|       5.0|   1.1|  3.1|         1.0|           1.0|      false|       false|       true|       false|[68000.0,5.0,1.1,...|[0.45,0.600000000...| [0.0,0.6358383670...|2023|    5|          7|            15.5| 32380.952380952378|              25.0|29.791000000000004|      1.0|[-68000.000245125...|
|        Unknown|30.0|San Francisco|70000.0|2000-01-01|       2.0|   1.2|  2.0|         2.0|           1.0|      false|        true|       true|       false|[70000.0,2.0,1.2,...|  [0.5,0.0,0.35,0.2]| [0.125,-0.9991745...|2000|    1|          7|             4.0| 31818.181818181816|               4.0|               8.0|      1.0|[-69999.999985784...|
|Michael Johnson|40.0|      Unknown|80000.0|2022-08-10|       3.0|   0.8|  2.0|         0.0|           2.0|       true|       false|      false|       false|[80000.0,3.0,0.8,...|[0.75,0.2,0.15000...| [0.75,-0.45417026...|2022|    8|          4|             6.0| 44444.444444444445|               9.0|               8.0|      2.0|[-79999.999996030...|
|    Sara Connor|50.0|      Chicago|90000.0|2019-12-25|       7.0|   2.5|  4.0|         1.0|           0.0|      false|       false|      false|        true|[90000.0,7.0,2.5,...|   [1.0,1.0,1.0,1.0]| [1.375,1.72584699...|2019|   12|          4|            28.0| 25714.285714285714|              49.0|              64.0|      3.0|[-90000.000385104...|
|       John Doe|25.0|     New York|50000.0|2024-01-15|       3.0|   0.5|  1.5|         0.0|           0.0|       true|       false|      false|        true|[50000.0,3.0,0.5,...|       (4,[1],[0.2])| [-1.125,-0.454170...|2024|    1|          2|             4.5| 33333.333333333336|               9.0|             3.375|      0.0|[-50000.000085214...|
+---------------+----+-------------+-------+----------+----------+------+-----+------------+--------------+-----------+------------+-----------+------------+--------------------+--------------------+---------------------+----+-----+-----------+----------------+-------------------+------------------+------------------+---------+--------------------+

root
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- city: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- date: date (nullable = true)
 |-- experience: double (nullable = true)
 |-- rating: double (nullable = true)
 |-- score: double (nullable = true)
 |-- gender_index: double (nullable = true)
 |-- response_index: double (nullable = true)
 |-- gender_Male: boolean (nullable = true)
 |-- gender_Other: boolean (nullable = true)
 |-- response_no: boolean (nullable = true)
 |-- response_yes: boolean (nullable = true)
 |-- features_vector: vector (nullable = true)
 |-- features_scaled: vector (nullable = true)
 |-- features_standardized: vector (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- experience_score: double (nullable = true)
 |-- salary_rating_ratio: double (nullable = true)
 |-- experience_squared: double (nullable = true)
 |-- score_cubed: double (nullable = true)
 |-- age_group: double (nullable = true)
 |-- pca_features: vector (nullable = true)