Python Programming

In [ ]:
# if-elif-else

# if digunakan untuk mengambil keputusan berdasarkan kondisi
# format dasar:
if kondisi:
    aksi1
elif kondisi_lain:
    aksi2
else:
    aksi_default

In [ ]:
# contoh 0

y = 1000

if y == 1000:
    print("tepat")
else:
    print("tidak tepat")

# penjelasan:
# jika y sama dengan 1000 maka print tepat, kalau y tidak sama dengan 1000 maka print tidak tepat

tepat

In [ ]:
# Contoh 1

x = 10

if x > 0:
    print("positif")
elif x == 0:
    print("netral")
else:
    print("negatif")

# Penjelasan:
# jika x lebih dari 0 maka print positif, kalau x sama dengan nol print netral, dan kalau x tidak lebih dari 0 dan tidak sama dengan nol berarti print negatif

positif

In [ ]:
# contoh 2

temperatur = 40

if temperatur > 50:
    status = "panas"
elif temperatur > 30:
    status = "hangat"
else:
    status = "sejuk"

print(status)

# penjelasan:
# sama seperti contoh 1, tapi kita membuat variabel x yaitu status

hangat

In [ ]:
# contoh 3

cacat = 50

if cacat > 200:
    keputusan = "perbaikan segera"
elif cacat > 100:
    keputusan = "lakukan perbaikan"
else:
    keputusan = "proses stabil"

print(keputusan)

# penjelasan:
# sama saja seperti contoh 1 dan 2
# ini bisa untuk label klasifikasi dalam konteks machine learning

proses stabil

In [ ]:
# import libaray pandas untuk manipulasi data
import pandas as pd

# ambil data dari repository lokal
df = pd.read_csv(r"C:\Users\Robyi\Documents\Data Science Dataset\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# contoh 4

n =  len(df) # ini artinya panjang data, kalau datanya ada 100 row maka len-nya 100

if n < 1000:
    model = 'model regresi logistik di statsmodels cukup'
elif n < 10000:
    model = 'model regresi logistik harus di scikit-learn'
else:
    model = 'harus pakai model decision tree'

print(model)

# penjelasan:
# jika jumlah row atau panjang data kurang dari 1000 row, maka menggunakan model regresi logistik di statsmodels sudah cukup
# jika jumlah row atau panjang data dari 1000 sampai 9999, maka harus menggunakan model regresi logistik versi scikit-learn
# jika jumlah row atau panjang data dari lebih dari 10000, maka harus menggunakan model decision tree

model regresi logistik di statsmodels cukup

In [ ]:
# contoh 5

if df.isnull().sum().sum() > 0:
    print("data kotor, perlu pembersihan data")
else:
    print("data sudah bersih, bisa langsung masuk EDA atau preprocessing")

# penjelasan:
# jika data-nya ada yang "null", dan jumlah null-nya lebih dari 0, maka harus melakukan pembersihan data seperti imputasi atau drop null

data kotor, perlu pembersihan data

In [ ]:
# contoh 5

# import numpy untuk komputasi numerik di python
import numpy as np

df["Kategori_Umur"] = np.where(df['Age'] > 22, 'dewasa','remaja')

df.head()

# penjelasan:
# jika umur lebih dari 22 maka beri label 'dewasa', jika umur kurang dari 22 maka beri label dewasa
# lalu hasilnya dibuat kolom baru dengan nama kolom kategori umur

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Kategori_Umur
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,remaja
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,dewasa
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,dewasa
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,dewasa
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,dewasa

In [ ]:
# contoh 6

# bisa juga dengan fungsi loc

df.loc[df['Age'] < 6, "kategori_umur_baru"] = 'balita' # jika umur kurang dari 6 tahun, maka masuk kategori balita
df.loc[df['Age'].between(7,12), "kategori_umur_baru"] = 'anak_anak' # jika umur antara 7 sampai 12 tahun, maka masuk kategori anak-anak
df.loc[df['Age'].between(13,17), "kategori_umur_baru"] = 'remaja' # jika umur antara 13 sampai 17 tahun, maka masuk kategori remaja
df.loc[df['Age'].between(18,50), "kategori_umur_baru"] = 'dewasa' # jika umur antara 18 sampai 50 tahun, maka masuk kategori dewasa
df.loc[df['Age'] > 50, "kategori_umur_baru"] = 'lansia' # jika umur lebih dari 50 tahun, maka masuk kategori lansia

df.head()

# penjelasan:
# sama saja seperti fungsi np.where, tapi bisa lebih di modifikasi

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Kategori_Umur,kategori_umur_baru
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,remaja,dewasa
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,dewasa,dewasa
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,dewasa,dewasa
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,dewasa,dewasa
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,dewasa,dewasa

In [ ]:
# atau ingin lebih cepat

kondisi = [
    df['Age'] < 10,
    df['Age'].between(11,20),
    df['Age'] > 20
]

pilihan = ['anak','remaja','dewasa']

df['kategori_umur_baru_cepat'] = np.select(kondisi, pilihan)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Kategori_Umur,kategori_umur_baru,kategori_umur_baru_cepat
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,remaja,dewasa,dewasa
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,dewasa,dewasa,dewasa
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,dewasa,dewasa,dewasa
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,dewasa,dewasa,dewasa
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,dewasa,dewasa,dewasa

In [ ]:
# contoh 7

# dengan boolean chaining dan multiple condition

suhu = 50
getaran = 7
pemakanan = 2

suhu = 40

if (suhu > 50 and getaran < 5) or (pemakanan > 2):
    print('baik, tapi cek mesin')
else:
    print('segera cek mesin')

# penjelasan:
# jika suhu mesin lebih dari 50 dan getaran kurang dari 5 maka print baik
# begitu juga jika suhu mesin lebih dari 50 dan pemakanan lebih dari 2 maka print baik
# jika suhu mesin lebih dari 50 dan getaran lebih dari 5 maka harus cek segera mesin
# begitu juga begitu juga jika suhu mesin lebih dari 50 dan pemakanan kurang dari 2 maka print harus cek segera mesin

segera cek mesin

In [ ]:
# contoh 8

# memakai if di dalam define

def get_loss(fungsi_aktivasi):
    if fungsi_aktivasi == 'klasifikasi':
        return "binary_crossentropy"
    elif fungsi_aktivasi == 'regresi':
        return 'mse'
    else:
        raise ValueError("fungsi aktivasi tidak dikenal")

print("pakai:",get_loss('klasifikasi'))

# penjelasan
# jika fungsi aktivasi dimodel tersebut klasifikasi maka kita akan pakai loss binary cross entropy

pakai: binary_crossentropy

In [ ]:
# contoh 9

cacat = 110

status = 'stabil' if cacat < 100 else 'tidak stabil'
print(status)

# penjelasan
# hanya versi simpel dari if else

tidak stabil

In [ ]:
# contoh 10

aksi = {
    "lr": LinearRegression(),
    'rf': RandomForestClassifier(),
    'svm': SupportVectorClassifier()
}

akasi[model]()

# penjelasan
# untuk cepat cek akurasi dari model selecction

In [ ]:
# contoh 11

x = 10
y = 5

if x > 5 and y < 10:
    print("kondisi terpenuhi");

if not(x < 5):
    print("tidak terpenuhi");

# penjelasan
# pakai 2 kondisi di if
# jika x tidak kurang dari 5 maka print tidak terpenuhi

kondisi terpenuhi
tidak terpenuhi

In [ ]:
# contoh 12

def process(data):
    if data is None:
        return "data kosong"
    if data < 0:
        return "data invalid"
    return data

print(process(10))
print(process(None))
print(process(-1))

# penjelasan
# buat fungsi define untuk proses dengan variabel data
# isi variabel data dengan kondisi if
# balikkan ke data

10
data kosong
data invalid

In [ ]:
# define

# digunakan untuk mendefinisikan atau membuat sebuah fungsi
# fungsi adalah blok kode yang dapat digunakan kembali untuk menjalankan tugas tertentu, sehingga membuat program lebih terstruktur-modular-efisien

# def: kata kunci wajib ada untuk menandakan bahwa kita akan membuat fungsi
# nama_fungsi: nama yang anda berikan untuk fungsi tersebut. penamaannya mengikuti aturan yang sama seperti variabel
# parameter: variabel opsional yang berada di tanda kurung (). parameter berfungsi sebagai input untuk fungsi dan digunakan saat fungsi dipanggil
# isi fungsi: isi dari def
# return: penyataan opsional yang digunakan untuk mengembalikan nilai dari fungsi kepada pemanggilnya

In [ ]:
# contoh 1

def say_hello():
    print("hello world")

say_hello()

hello world

In [ ]:
# contoh 2

def salam(nama):
    print("Assalamualaikum",nama)

salam("Roby")

Assalamualaikum Roby

In [ ]:
# contoh 3

def tambah(a,b):
    return a + b

hasil = tambah(5,10)
print(hasil)

15

In [ ]:
# contoh 3

import math

def EOQ(a,b,c,d):
    return (math.sqrt(a+b) / c-d)

hasil = EOQ(10,5,5,9)
print(hasil)

# misal kita ingin menghitung rumus EOQ untuk inventory

-8.225403330758517

In [ ]:
# contoh 4

def sapa(nama="User"):
    return f"Hai {nama}"

print(sapa())
print(sapa("Roby"))

Hai User
Hai Roby

In [ ]:
# contoh 5

def info(nama, umur, sex):
    print(f"Nama: {nama}, Usia: {umur}, Gender: {sex}")

info(nama="Roby", sex="Pria", umur=20)

Nama: Roby, Usia: 20, Gender: Pria

In [ ]:
# contoh 6

def hitung(x,y):
    return x / y, x ** y, x + y

bagi, pangkat, tambah = hitung(2,3)
print(bagi, pangkat, tambah)

# koma di return membagi 3 variabel
# oleh sebab itu kita bisa punya 3 variabel

0.6666666666666666 8 5

In [ ]:
# contoh 7

def total(*angka):
    print(angka)
    return sum(angka)

print(total(1,4,5,7,754,6,7))

(1, 4, 5, 7, 754, 6, 7)
784

In [ ]:
# contoh 8

def info(**data):
    for key, value in data.items():
        print(key, "=", value)

info(nama="Andi",umur=20, kota="jakarta",pendidikan="sd")

nama = Andi
umur = 20
kota = jakarta
pendidikan = sd

In [ ]:
# contoh 9

def operasi():
    def tambah(a,b):
        return a+b
    return tambah

f = operasi()
print(f(3,4))

7

In [ ]:
# contoh 10

def kali(x):
    return x * 2

def proses(fn,value):
    return fn(value)

print(proses(kali, 10))

20

In [ ]:
# contoh 11

# untuk dokumentasi

def tambah(a,b):
    """
    untuk pertambahan,
    aritmatik biasa
    """
    return a+b

print(tambah(10,20))

30

In [ ]:
# contoh 12

def pembagian(a,b):
    if b == 0:
        return "Error: tidak bisa pembagi sama dengan 0 (nol)"
    return a / b

print(pembagian(10,2))
print(pembagian(10,0))

5.0
Error: tidak bisa pembagi sama dengan 0 (nol)

In [ ]:
# contoh 13

def logger(func):
    def wrapper(*args, **kwargs):
        print("Calling:", func.__name__)
        return func(*args, **kwargs)
    return wrapper

@logger
def say_hi():
    print("Hi")

say_hi()

Calling: say_hi
Hi

In [ ]:
# contoh 14

def apply_twice(func, x):
    return func(func(x))

def add_5(n):
    return n + 5

result = apply_twice(add_5, 10)  # 20
print(result)

20

In [ ]:

# contoh 15

from functools import partial

def power(base, exp):
    return base ** exp

square = partial(power, exp=2)
print(square(8))  # 64

64

In [ ]:

# contoh 16

def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # 120

120

In [ ]:

# contoh 17

def generate_numbers():
    for i in range(5):
        yield i

for num in generate_numbers():
    print(num)

0
1
2
3
4

In [ ]:
# for loop

# for loop adalah sistem iterasi di python agar tidak melakukan coding secara eskplisit
# bisa berupa tuple, list, int, dan lain lain
# dan juga bisa dibatasi iterasinya

In [ ]:

# contoh 1

for i in [1, 2, 3]:
    print(i)

# penjelasan:
# membaca setiap isi angka di dalam kotak tersebut

1
2
3

In [ ]:

# contoh 2

for i in range(5):
    print(i)

# penjelasan:
# sama saja tapi menggunakan range, alias tidak bisa modifikasi lanjut

0
1
2
3
4

In [ ]:

# contoh 3

for char in "Data":
    print(char)

# penjelasan:
# kali ini menggunakan huruf

D
a
t
a

In [ ]:

# contoh 4

numbers = [10, 20, 30]
for n in numbers:
    print(n)

# penjelasan:
# membaca nilai di dalam variabel numbers yang sudah ditentukan sebelumnya

10
20
30

In [ ]:

# contoh 5

for i in range(10):
    if i == 5:
        break
    print(i)

# penjelasan:
# dengan aturan if, jika sudah di angka 5 maka stop for loop-nya

0
1
2
3
4

In [ ]:
# contoh 6

for i in range(6):
    if i == 3:
        continue
    print(i)

# penjelasan:
# sama saja dengan break, tapi kebalikannya

0
1
2
4
5

In [ ]:

# contoh 7

for i in range(3):
    print(i)
else:
    print("Selesai tanpa break")

# penjelasan:
# jika for loop selesai print selesai tanpa break

0
1
2
Selesai tanpa break

In [ ]:

# contoh 8

for i in range(2):
    for j in range(3):
        print(i, j)

# penjelasan:
# loop di dalam loop, sehingga ada 2 loop

0 0
0 1
0 2
1 0
1 1
1 2

In [ ]:

# contoh 9

person = {"name": "Ali", "age": 25}
for key in person:
    print(key)

# penjelasan
# loop hanya bagian key di variable person. key itu variabel yang di kiri, kalau kanan itu value

name
age

In [ ]:

# contoh 10

person = {"name": "Ali", "age": 25}
for value in person.values():
    print(value)

# penjelasan:
# sudah dijelaskan di atas

Ali
25

In [ ]:

# contoh 11

names = ["A", "B", "C"]
scores = [88, 92, 75]

for name, score in zip(names, scores):
    print(name, score)

# mirip kayak df.head()

A 88
B 92
C 75

In [ ]:

# contoh 12

params = {"lr": 0.01, "batch": 32, "epochs": 10}

for key, value in params.items():
    print(key, value)

# untuk tuning manual

lr 0.01
batch 32
epochs 10

In [ ]:
# contoh 13

data = [(1, "A"), (2, "B"), (3, "C")]

for id, label in data:
    print(id, label)

# sama kayak contoh 11

1 A
2 B
3 C

In [ ]:
# contoh 14

numbers = [10, 3, 25, 8, 30]
filtered = []

for n in numbers:
    if n > 10:
        filtered.append(n)

print(filtered)

# jika n di variabel numbers lebih dari 10, maka list(filter) angka apa saja yang lebih dari 10 itu

[25, 30]

In [ ]:
# contoh 15

values = [1, 2, 3, 4]
squared = [v**2 for v in values]
print(squared)

# anggap v adalah variabel values, lalu v dipangkatkan 2

[1, 4, 9, 16]

In [ ]:
# contoh 16

values = [5, 12, 7, 20]
filtered = [v for v in values if v > 10]
print(filtered)

# menganggap v adalah variables values, jika v lebih dari 10 maka filter

[12, 20]

In [ ]:
# contoh 17

dataset = [
    {"name": "Ali", "age": 21},
    {"name": "Budi", "age": 35},
    {"name": "Cici", "age": 29},
]

for row in dataset:
    print(row["name"], row["age"])

# sama mirip dengan df.head()

Ali 21
Budi 35
Cici 29

In [ ]:
# contoh 18

values = [10, 20, 30, 40]
total = 0

for v in values:
    total += v

mean = total / len(values)
print(mean)

25.0

In [ ]:
# contoh 19

colors = ["red", "blue"]
sizes  = ["S", "M", "L"]

pairs = []

for c in colors:
    for s in sizes:
        pairs.append((c, s))

print(pairs)

# menggabungkan 2 variables

[('red', 'S'), ('red', 'M'), ('red', 'L'), ('blue', 'S'), ('blue', 'M'), ('blue', 'L')]

In [ ]:
# while loop

# While loop dipakai saat kamu ingin mengulang selama kondisi tertentu masih benar.

In [ ]:
# contoh 1

x = 1

while x < 3:
    print(x)
    x += 1

# kalau x kurang dari 3, maka print x ditambah 1

1
2

In [ ]:
# contoh 2

count = 5

while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [ ]:

# contoh 3

value = 1

while value < 50:
    value *= 2
    print(value)

# kalau value kurang dari 50 maka lanjut di kali 2, kalau sudah lebih dari 50 maka stop
# tapi kalau lebih dari 50 stop kenapa ada 64? karena ada angkanya masih 32, makanya masih lanjut, apalagi ini dikali 2

2
4
8
16
32
64

In [ ]:
# class dan object

# untuk membuat instansi di python

In [ ]:
# contoh 1

class Person:
    pass

p = Person()
print(p)

<__main__.Person object at 0x7ab3feeff740>

In [ ]:
# contoh 2

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p = Person("Ali", 25)
print(p.name, p.age)

# membuat instansi mirip kayak sklearn LinearRegression()
# kalau self mirip kayak LinearRegression()
# kalau name dan age itu bagian dari LinearRegression() tersebut, kayak LinearRegression().intercept_

Ali 25

In [ ]:

# contoh 3

class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, my name is {self.name}")

p = Person("Budi")
p.greet()

Hello, my name is Budi

In [39]:
# contoh 4

class Person:
    def __init__(self, name):
        self.name = name

p = Person("Cici")
print(p.name)

p.name = "Doni"
print(p.name)

Cici
Doni

In [40]:

# contoh 5

class Person:
    def __init__(self, name):
        self.name = name

p1 = Person("Ali")
p2 = Person("Budi")

print(p1.name)
print(p2.name)

Ali
Budi

In [41]:
# contoh 6

class Calculator:
    def add(self, a, b):
        return a + b

calc = Calculator()
print(calc.add(10, 5))

15

In [42]:
# contoh 7

class Person:
    def __init__(self, name, age=18):
        self.name = name
        self.age = age

p = Person("Eka")
print(p.name, p.age)

Eka 18

In [43]:
# contoh 8

class Dataset:
    def __init__(self, data):
        self.data = data

    def info(self):
        print("Data length:", len(self.data))

class PreprocessedDataset(Dataset):
    def clean(self):
        self.data = [x for x in self.data if x is not None]

data = [10, None, 20]
p = PreprocessedDataset(data)
p.clean()
p.info()

Data length: 2

In [44]:
# contoh 9

class Dataset:
    def info(self):
        print("Generic dataset")

class PreprocessedDataset(Dataset):
    def info(self):
        print("Preprocessed dataset")

p = PreprocessedDataset()
p.info()

Preprocessed dataset

In [45]:

# contoh 10

class Dataset:
    def info(self):
        print("Generic dataset")

class PreprocessedDataset(Dataset):
    def info(self):
        super().info()
        print("This dataset is preprocessed")

p = PreprocessedDataset()
p.info()

Generic dataset
This dataset is preprocessed

In [47]:
# contoh 11

class Dataset:
    version = "1.0"  # class attribute

    def __init__(self, data):
        self.data = data  # instance attribute

d1 = Dataset([1,2])
d2 = Dataset([3,4])
print(d1.version, d2.version)
print(d1.data, d2.data)

1.0 1.0
[1, 2] [3, 4]

In [48]:
# contoh 11

class Utils:
    @staticmethod
    def normalize(value, max_val):
        return value / max_val

print(Utils.normalize(50, 100))

0.5

In [ ]:
# decorator

# decorator adalah untuk membungkus fungsi define tanpa pemrograman eksplisit

In [50]:
# contoh 1

def my_decorator(func):
    def wrapper():
        print("Sebelum fungsi")
        func()
        print("Setelah fungsi")
    return wrapper

@my_decorator
def say_hello():
    print("Hello Data Science")

say_hello()

# harus ada return wrapper dan def wrapper()

Sebelum fungsi
Hello Data Science
Setelah fungsi

In [ ]:
# lambda

# lambda adalah fungsi anonim

In [51]:
# contoh 1

import pandas as pd

df = pd.DataFrame({"score":[10,20,30]})
df["score_squared"] = df["score"].apply(lambda x: x**2)
print(df)

   score  score_squared
0     10            100
1     20            400
2     30            900

In [52]:
# contoh 2

df = pd.DataFrame({"a":[1,2], "b":[3,4]})
df["sum"] = df.apply(lambda row: row["a"] + row["b"], axis=1)
print(df)

   a  b  sum
0  1  3    4
1  2  4    6

In [53]:
# contoh 3

square = lambda x: x**2
print(square(5))

25

In [54]:
# contoh 4

multiply = lambda a, b: a * b
print(multiply(4, 5))

20

In [55]:
# contoh 5

numbers = [1,2,3,4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

In [56]:
# contoh 6

numbers = [1,2,3,4,5]
even = list(filter(lambda x: x%2==0, numbers))
print(even)

[2, 4]

In [57]:
# contoh 7

data = [{"name":"Ali","score":88},{"name":"Budi","score":75}]
sorted_data = sorted(data, key=lambda x: x["score"], reverse=True)
print(sorted_data)

[{'name': 'Ali', 'score': 88}, {'name': 'Budi', 'score': 75}]

In [ ]:
# itertools

# itertools adalah alat untuk iterasi

In [58]:

# contoh 1

from itertools import product

learning_rates = [0.01, 0.05, 0.1]
batch_sizes = [16, 32, 64]

for lr, bs in product(learning_rates, batch_sizes):
    print(f"Training with lr={lr}, batch_size={bs}")

Training with lr=0.01, batch_size=16
Training with lr=0.01, batch_size=32
Training with lr=0.01, batch_size=64
Training with lr=0.05, batch_size=16
Training with lr=0.05, batch_size=32
Training with lr=0.05, batch_size=64
Training with lr=0.1, batch_size=16
Training with lr=0.1, batch_size=32
Training with lr=0.1, batch_size=64

In [59]:
# contoh 2

from itertools import combinations

features = ['age', 'income', 'score']

for comb in combinations(features, 2):
    print("Interaction:", comb)

Interaction: ('age', 'income')
Interaction: ('age', 'score')
Interaction: ('income', 'score')

In [60]:
import itertools

def sliding_window(seq, n=3):
    iters = itertools.tee(seq, n)
    for i, it in enumerate(iters):
        for _ in range(i):
            next(it, None)
    return zip(*iters)

data = [10, 20, 30, 40, 50]

for window in sliding_window(data, 3):
    print(window)

# contoh 3

(10, 20, 30)
(20, 30, 40)
(30, 40, 50)

In [61]:
from itertools import groupby

data = [
    ("A", 10), ("A", 15),
    ("B", 5), ("B", 7), ("B", 20),
]

# Data harus disortir berdasarkan key
data_sorted = sorted(data, key=lambda x: x[0])

for key, group in groupby(data_sorted, key=lambda x: x[0]):
    values = [v for _, v in group]
    print(key, sum(values))

A 25
B 32

In [63]:
from itertools import chain

large_list1 = range(1000000)
large_list2 = range(1000000, 2000000)

combined = chain(large_list1, large_list2)

for x in combined:
    pass  # streaming, tidak makan RAM besar