In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"D:\Dokumen\Python\Data Engineering 1\Wine.csv")

In [4]:
from scipy.stats import f_oneway

In [5]:
df.head()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [6]:
group = [df[df['Ash'] == q]
         ['Alcohol'] for q in 
         df['Ash'].unique()]

In [7]:
group

[0    14.23
 Name: Alcohol, dtype: float64,
 1     13.2
 27    13.3
 Name: Alcohol, dtype: float64,
 2     13.16
 71    13.86
 Name: Alcohol, dtype: float64,
 3      14.37
 58     13.72
 113    11.41
 114    12.08
 Name: Alcohol, dtype: float64,
 4    13.24
 Name: Alcohol, dtype: float64,
 5      14.20
 6      14.39
 173    13.71
 Name: Alcohol, dtype: float64,
 7      14.06
 24     13.50
 139    12.84
 Name: Alcohol, dtype: float64,
 8      14.83
 111    12.52
 125    12.07
 Name: Alcohol, dtype: float64,
 9      13.86
 49     13.94
 105    12.42
 Name: Alcohol, dtype: float64,
 10     14.10
 56     14.22
 74     11.96
 89     12.08
 128    12.37
 164    13.78
 167    12.82
 Name: Alcohol, dtype: float64,
 11     14.12
 83     13.05
 90     12.08
 130    12.86
 155    13.17
 170    12.20
 Name: Alcohol, dtype: float64,
 12    13.75
 35    13.48
 Name: Alcohol, dtype: float64,
 13     14.75
 124    11.87
 Name: Alcohol, dtype: float64,
 14     14.38
 129    12.04
 148    13.32
 156    13.84
 160    12.36
 Name: Alcohol, dtype: float64,
 15     13.63
 30     13.73
 33     13.76
 109    11.61
 140    12.93
 158    14.34
 Name: Alcohol, dtype: float64,
 16     14.30
 142    13.52
 Name: Alcohol, dtype: float64,
 17     13.83
 26     13.39
 87     11.65
 150    13.50
 Name: Alcohol, dtype: float64,
 18     14.19
 147    12.87
 151    12.79
 172    14.16
 174    13.40
 Name: Alcohol, dtype: float64,
 19    13.64
 65    12.37
 Name: Alcohol, dtype: float64,
 20     14.06
 46     14.38
 60     12.33
 94     11.62
 107    12.72
 153    13.23
 171    12.77
 Name: Alcohol, dtype: float64,
 21    12.93
 34    13.51
 Name: Alcohol, dtype: float64,
 22     13.71
 31     13.58
 32     13.68
 68     13.34
 133    12.70
 149    13.08
 Name: Alcohol, dtype: float64,
 23    12.85
 Name: Alcohol, dtype: float64,
 25    13.05
 Name: Alcohol, dtype: float64,
 28    13.87
 Name: Alcohol, dtype: float64,
 29    14.02
 70    12.29
 99    12.29
 Name: Alcohol, dtype: float64,
 36    13.28
 Name: Alcohol, dtype: float64,
 37    13.05
 Name: Alcohol, dtype: float64,
 38     13.07
 44     13.05
 98     12.37
 154    12.58
 Name: Alcohol, dtype: float64,
 39    14.22
 82    12.08
 Name: Alcohol, dtype: float64,
 40    13.56
 86    12.16
 Name: Alcohol, dtype: float64,
 41     13.41
 47     13.90
 106    12.25
 Name: Alcohol, dtype: float64,
 42    13.88
 Name: Alcohol, dtype: float64,
 43     13.24
 126    12.43
 Name: Alcohol, dtype: float64,
 45    14.21
 Name: Alcohol, dtype: float64,
 48     14.10
 79     12.70
 131    12.88
 132    12.81
 Name: Alcohol, dtype: float64,
 50    13.05
 Name: Alcohol, dtype: float64,
 51     13.83
 73     12.99
 166    13.45
 Name: Alcohol, dtype: float64,
 52     13.82
 91     12.00
 120    11.45
 Name: Alcohol, dtype: float64,
 53    13.77
 57    13.29
 Name: Alcohol, dtype: float64,
 54     13.74
 134    12.51
 Name: Alcohol, dtype: float64,
 55     13.56
 88     11.64
 102    12.34
 Name: Alcohol, dtype: float64,
 59    12.37
 Name: Alcohol, dtype: float64,
 61    12.64
 Name: Alcohol, dtype: float64,
 62    13.67
 67    12.37
 75    11.66
 Name: Alcohol, dtype: float64,
 63    12.37
 Name: Alcohol, dtype: float64,
 64    12.17
 Name: Alcohol, dtype: float64,
 66     13.11
 100    12.08
 Name: Alcohol, dtype: float64,
 69    12.21
 Name: Alcohol, dtype: float64,
 72    13.49
 85    12.67
 Name: Alcohol, dtype: float64,
 76    13.03
 Name: Alcohol, dtype: float64,
 77     11.84
 146    13.88
 Name: Alcohol, dtype: float64,
 78    12.33
 Name: Alcohol, dtype: float64,
 80     12.0
 119    12.0
 Name: Alcohol, dtype: float64,
 81     12.72
 95     12.47
 115    11.03
 135    12.60
 144    12.25
 Name: Alcohol, dtype: float64,
 84     11.84
 162    12.85
 Name: Alcohol, dtype: float64,
 92     12.69
 165    13.73
 175    13.27
 Name: Alcohol, dtype: float64,
 93    12.29
 Name: Alcohol, dtype: float64,
 96     11.81
 177    14.13
 Name: Alcohol, dtype: float64,
 97     12.29
 104    12.51
 118    12.77
 Name: Alcohol, dtype: float64,
 101    12.6
 Name: Alcohol, dtype: float64,
 103    11.82
 Name: Alcohol, dtype: float64,
 108    12.22
 Name: Alcohol, dtype: float64,
 110    11.46
 Name: Alcohol, dtype: float64,
 112    11.76
 Name: Alcohol, dtype: float64,
 116    11.82
 Name: Alcohol, dtype: float64,
 117    12.42
 138    13.49
 Name: Alcohol, dtype: float64,
 121    11.56
 Name: Alcohol, dtype: float64,
 122    12.42
 Name: Alcohol, dtype: float64,
 123    13.05
 Name: Alcohol, dtype: float64,
 127    11.79
 Name: Alcohol, dtype: float64,
 136    12.25
 161    13.69
 Name: Alcohol, dtype: float64,
 137    12.53
 157    12.45
 159    13.48
 Name: Alcohol, dtype: float64,
 141    13.36
 143    13.62
 163    12.96
 Name: Alcohol, dtype: float64,
 145    13.16
 Name: Alcohol, dtype: float64,
 152    13.11
 Name: Alcohol, dtype: float64,
 168    13.58
 Name: Alcohol, dtype: float64,
 169    13.4
 Name: Alcohol, dtype: float64,
 176    13.17
 Name: Alcohol, dtype: float64]

In [8]:
f_stat, p_value = f_oneway(*group)

In [9]:
print(f_stat)
print(p_value)

0.7238651170695684
0.9310740620668645

In [11]:
if p_value < 0.05:
    print("Signifikan")
else:
    print("Tidak Signifikan")

Tidak Signifikan

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [19]:
model = ols('Customer_Segment ~ C(Ash) + C(Magnesium) + C(Ash):C(Magnesium)', data = df).fit()

In [20]:
anova_table = sm.stats.anova_lm(model, typ=2)

C:\Users\Robyi\AppData\Roaming\Python\Python311\site-packages\statsmodels\base\model.py:1888: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 78, but rank is 1
  warnings.warn('covariance of constraints does not have full '
C:\Users\Robyi\AppData\Roaming\Python\Python311\site-packages\statsmodels\base\model.py:1888: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 52, but rank is 0
  warnings.warn('covariance of constraints does not have full '
C:\Users\Robyi\AppData\Roaming\Python\Python311\site-packages\statsmodels\base\model.py:1917: RuntimeWarning: invalid value encountered in divide
  F /= J
C:\Users\Robyi\AppData\Roaming\Python\Python311\site-packages\statsmodels\base\model.py:1888: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 4056, but rank is 172
  warnings.warn('covariance of constraints does not have full '

In [21]:
print(anova_table)

                          sum_sq      df         F    PR(>F)
C(Ash)                128.049016    78.0  2.188872  0.213105
C(Magnesium)                 NaN    52.0       NaN       NaN
C(Ash):C(Magnesium)  2635.396883  4056.0  0.866337  0.667136
Residual                3.000000     4.0       NaN       NaN